# --- Dependencies -----------------------------------------------------------
node_modules/

# --- Build output -----------------------------------------------------------
dist/
lib/

# --- Secrets & environment config ------------------------------------------
.env
.env.* // any variant like .env.local, .env.prod
.runtimeconfig.json
serviceAccountKey.json

# --- Logs & misc ------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
